Package: enigma2-plugin-skins-slyk-toppicks
Version: 7.6_20240529
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Slyk Top Picks
Source: https://www.linuxsat-support.com

